h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
  padding: 4rem;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}